<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPUImageVideoCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C22DFEF1EEBBCE100EC3E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C22E0081EEBBCE100EC3E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C22E0131EEBBCE100EC3E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
